    <!-- this is the beginning of the page for the library -->
    <!-- there will be two major columns to spilt the favorites(25%) and the reviews (75%) -->
    <!-- inside the favorites section there will be two rows and three cards across max -->
    <!-- just creating an area for the reviews and button -->
<!-- beginning card -->
<h2 style="font-size: 80px; padding: 20px;">{{first_name}}'s Library</h2>
<div class="container d-flex flex-wrap">
{{#each blogs}}
<div class="d-flex">
        <div class="px-1">
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">{{title}}</div>
                <div class="card-body">
                    <ul style="text-decoration: underline !important; list-style-type: none !important; padding: 0 !important;">
                        <li><h5 class="card-title">{{book.title}}</h5></li>
                        <li><h5 class="card-title">{{book.author}}</h5></li>
                    </ul>
                    <h5 class="card-title">{{review.bookGenre}}</h5>
                    <p class="card-text">{{review}}</p>
                <div class="card-footer bg-transparent d-flex justify-content-between p-0">
                    <ul class="d-flex p-0" style="list-style-type:none;">
                        <li style="padding-top:5px; padding-right: 5px;">
                            <button type="button" class="btn btn-link deletebtn" style="padding:10px;" value="{{id}}">
                                <img src="/images/trash-can.png" alt="trashcan" style="max-width: 20px;">
                            </button>
                        </li>
                        <li style="padding-top:5px; padding-right: 5px;">
                            <button type="button" class="btn btn-link editbtn" style="padding:10px;" value="{{id}}">
                                <img src="/images/pencil.png" alt="pencil" style="max-width: 20px;">
                            </button>
                        </li>
                    </ul>
                    <h6 class="d-flex align-items-center">{{first_name}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-dark" id="customBTN"><a href="/review">Add a Review!</a></button>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/mylibrary.js"></script>