<h2  class="bigTitle" style="font-size: 80px; padding: 20px;">{{first_name}}'s Library</h2>
    <!-- this is where the review input starts -->
    <div class="container">
        <h3 class="d-flex justify-content-center p-5"> Update Your Review</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Review Title</span>
            </div>
                <textarea type="text" class="form-control" aria-label="Title" aria-describedby="basic-addon1" id="titleEl">{{title}}</textarea>
    </div>
        <!-- this is where the authore and title autopopulate-->
    <div class="container" id="autopopulatecontainer">
        <ul class="m-3 d-flex">
            <li class="list-group-item disabled mb-2 col-8" id="autopopTitle">{{book.title}}</li>
            <li class="list-group-item disabled mb-2 col" id="autopopAuth">{{book.author}}</li>
        </ul>
    </div>
    {{!-- review comment --}}
    </div>
    <div class="container">
        <div class="form-group">
            <label for="comment">Review 📝</label>
            <textarea class="form-control" rows="5" id="reviewEl">{{review}}</textarea>
            <div class="d-flex justify-content-end my-4">
                <button type="button" class="btn btn-link editbtn" id="updatebtn" style="padding:10px;" value="{{id}}" data-toggle="tooltip" data-placement="top" title="Update my review"><img src="/images/update.png" alt="update icon" style="width:50px;"></button>
            </div>
        </div>
    </div>

<div class="modal fade" id="blogupdated" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Review updated!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="blogupdatedClose">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="../js/update.js"></script>
